

body {
  font-family: 'Rubik', Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none; 
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(167, 167, 167);
}

  
svg:hover  {
  opacity: 40%;
}



/* NavBar Top */

.topnavbar1 {
  position: sticky;  
  padding-left: 50px;
  padding-top: 10px;
}

.logoela svg {
  vertical-align: middle;
  width: 3.5rem;  
  height: auto;
}


.topnavbar { 
  font-size: 18px;
  display: inline;
  float: right;
  padding: 20px;
  padding-right: 50px;  
}

/* Hero-Video Background */


.hero-video {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /*background-image: linear-gradient(rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.3));*/

  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh;
     
}

.hero-video{
  padding-top: 1rem;
}

.fondo-video {
  position: absolute;
  width: 100%;
  height: auto;
  right: 0;
  bottom: 10;
  z-index: -1;
  transform: scale(0.25);
  padding-bottom: 52rem;
  
}

.hero-text {
  position: absolute;
  justify-content: center;
  text-align: center; 
}

.hero-text p {
  font-size: 45px;
  font-weight: 300;  
}

.hero-text span {
  font-size: 90px;
  font-weight: 400;
  padding-left: 5px;  
}

.hero-subtitle p  {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  
  padding-top: 18rem;     
}

.arrowdown-hero {
  position: absolute;
  justify-content: center;
  padding-top: 32rem;
  width: 100%;
  height: auto;

}



/* Work */

.work {
  padding-top: 340px;
}

.work h2 {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}

.projects {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}


/* Resoluteab projct. */

.resolutelabs {
    padding-left: 50px;   
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .imageresolute {
    max-width: 100%;
    max-height:auto;
    margin-right: 8rem;
  
  }
  

  .resolutelabs h3 {
    font-size: 35px;
    font-weight: 450;   
  }

  .resolutelabs p {
    font-size: 45px;
    font-weight: 300;
  }


/* link read more right. */


  .read {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 350;
    padding-top: 10px;  
    
  }
  
  .arrow-right-d  {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    padding-left: 5px;
  }



/* Wishop projct. */


  .wishop {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10%;
    margin-right: 15%;
  
  }
  
  .wishop img {
    max-width: 100%;
    max-height: auto;
    
  }

  .wishoptext {    
    padding-top: 100px; 
    text-align: right;
    padding-right: 8rem;
    
  }
  
  .wishop h3 {    
    font-size: 35px;
    font-weight: 450;  
  }

  .wishop p {
    font-size: 45px;
    font-weight: 300;  
  }


  
  .arrow-left  {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    padding-right: 5px;
  }




 /* Bluestripe Messagge. */ 

  .bluestripe {
    font-size: 40px;
    font-weight: 300;
    color: white;
    text-align: center;
    background-color: rgb(14, 14, 177); 
    padding-top: 150px;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 150px;
    margin-top: 300px;
  }


 
/* Footer - foundation */

.social-footer {
  padding: 1rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 35px;
  margin-left: 35px;
  font-size: 18px; 
   
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0; 
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #000000;
  padding-left: 5px;
    
  }
  

.social-footer .social-footer-icons .fa:hover {
  color: grey;
  transition: color 0.3s ease-in;
}


li {
  display: inline;
  vertical-align: middle;
}


.social-footer-left {
  text-decoration: underline;
}


/* Breakpoints */
/* For mobile phones: */
@media screen and (max-width: 768px) {


.topnavbar { 
    font-size: 12px;
    padding: 20px;
    padding-right: 50px;    
  }

  .logoela svg {
    transform: scale(55%);
}
  

.hero-video {
    padding-top: 1rem;
}

.fondo-video {
    position: absolute;
    padding-bottom: 27rem;
}

.hero-text {
 font-size: 1.8rem; 
}

.hero-text p {
  font-size: 1.6rem; 
}

.hero-text span {
  font-size: 43px;
}

.hero-subtitle p  {
  font-size: 1rem; 
  margin: 3rem;
  padding-top: 11rem; 
}


.arrowdown-hero {
  position: absolute;
  padding-top: 20rem;
}

/* Breakpoints - Work */

.work {
  padding-top: 0.1rem;
}

.work h2 {
  font-size: 34px;
  text-align: center;
}

.projects {
  font-size: 14px;
}

/* Breakpoints - Work - Resolute */

.resolutelabs {
  margin-right: 3rem;   
}

.imageresolute {
  margin-right: 3rem;

}

.resolutelabs h3 {
  font-size: 0.8rem;   
}

.resolutelabs p {
  font-size: 0.9rem;
}


.read {
  font-size: 0.7rem;
  padding-top: 3px;  
}

.arrow-right-d  {
  width: 1rem;
  height: 1rem;
}

/* Breakpoints - Work - Wishop */

.wishop {
  margin-left: 3rem;
} 

.imagewishop { 
transform: scale(85%);
}

.wishoptext {    
  padding-right: 3rem;  
}

.wishop h3 {    
  font-size: 0.8rem;  
}

.wishop p {
  font-size: 0.9rem; 
}

.arrow-left  {
  width: 1rem;
  height: 1rem;  
}


 /* Bluestripe Messagge. */ 

 .bluestripe {
  font-size: 1rem;
  padding-top: 2rem;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 2rem;
  margin-top: 1px;
}

.social-footer {
  padding: 0.2rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 12px; 
   
}

.social-footer .social-footer-icons .fa {
  font-size: 0.2rem;
  padding-left: 5px; 
}

}




/* Resolute Page */

.resolute-header {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  align-content: center;
}

.resolute-title {
  font-size: 50px;
  font-weight: 420;
  text-transform: uppercase;
}


.sub {
  font-size: 20px;
  font-weight: 300;
  
}

.resolute-intro {
  font-size: 20px;
  font-weight: 350;
  text-align: left;
  margin-left: 5rem;
  padding-top: 5px;
}


.resolute-img {
    padding-left: 50px;   
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .img-central {
    max-width: 100%;
    max-height:auto;
    height: 90%;
    width: 90%;
    justify-items: center;

  }
  

/* Resolute - Role Goal Design Challenge */


.rgdc div {
  display: flex;
  margin-top: 5rem;
  justify-content: flex-start;
  margin-left: 15rem;  
}


.rgdc h2 {
  font-size: 40px;
  font-weight: 420;
}


.role-descrip {
  font-size: 20px;
  font-weight: 350;
  text-align: left;
  margin-left: 12rem; 
}


.goal-descrip {
  font-size: 20px;
  font-weight: 350;
  text-align: left;
  margin-left: 12rem;    
}


.design-descrip {
  font-size: 20px;
  font-weight: 350;
  margin-left: 9rem; 
}


.challenge-descrip {
  font-size: 20px;
  font-weight: 350;
  text-align: left;
  margin-left: 5.5rem;   
}
  

.road_depper img {
  max-width: 100%;
  max-height: auto;
  transform: scale(0.8);
  
}


/* Breakpoints */
/* For mobile phones: */
@media screen and (max-width: 768px) {

  .resolute-header {
    display: flex;
    flex-direction: column;
    
  }

  .resolute-title {
    font-size: 1.1rem;
    margin-left: 3rem;
  }
  
  .resolute-intro {
    font-size: 0.7rem;
    padding-top: 3px;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .img-central {
    margin-right: 3rem;
    padding-top: 1px;

  }

.rgdc div {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;  
}

.rgdc h2 {
  font-size: 1rem;
}


.role-descrip {
  font-size: 0.7rem;
  margin-left: 4rem; 
}


.goal-descrip {
  font-size: 0.7rem;
  margin-left: 4rem;    
}


.design-descrip {
  font-size: 0.7rem;
  margin-left: 6rem; 
}


.challenge-descrip {
  font-size: 0.7rem;
  margin-left: 5.5rem;   
}

}